@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-poppins;
  }
  body {
    @apply bg-zinc-950 text-slate-300;
  }
  .nav-indicator {
    @apply w-16 opacity-100 text-slate-200;
  }
  .nav-text {
    @apply opacity-100 text-slate-200;
  }
  .active .nav-indicator {
    @apply w-16 opacity-100 bg-slate-200;
  }
  .active .nav-text {
    @apply opacity-100 text-slate-200;
  }
  .wrapper-container {
    @apply px-3 pb-16 pt-4 md:px-6;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-track {
  background: rgba(var(--bg-zinc-950)) !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--bg-zinc-950), 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--bg-zinc-950), 1) !important;
}
